Repository indykite/terraform-provider-indykite: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(CHANGELOG|.github\/ISSUE_TEMPLATE\/(bug|feature_request)).md$
  golangci-lint-validate-config: any of: \.golangci\.(y?ml|toml|json)$

ci: docker image tofu/tf symlink
  docker/infra/Dockerfile
  docker/local/ForJarvisProtoLocal.Dockerfile
Due: none

ci: docker image vars defaults
  docker/infra/startscript.sh
Due: none

feat: add dbconnection
  tests/provider/test.tf
Due: none

chore(master): release 0.25.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

feat: remove tda
  indykite/provider.go
  indykite/resource_consent.go
  indykite/resource_consent_test.go
  tests/provider/test.tf
Due: none

chore(master): release 0.26.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

ci: release-notes tweaks; pre-commit updates
  .github/workflows/changelog.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/release-notes.yaml
  .pre-commit-config.yaml
  .release-please-config.json
  docker/infra/Dockerfile
  release-please-config.json
Due: actionlint-system, yamlfmt, yamllint

ci: docker build fix
  docker/local/ForJarvisProtoLocal.Dockerfile
Due: none

fix: password in DB Connection is never returned in read
  indykite/data_source_application_space_test.go
  indykite/resource_application_space.go
  indykite/resource_application_space_test.go
Due: none

test: disable invalid test
  tests/provider/test.tf
Due: none

chore(master): release 0.26.1 (#224)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: fix the time out response
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  go.mod
  go.sum
  indykite/resource_application_space.go
Due: actionlint-system, yamlfmt, yamllint

fix: ci actions; workflow manual re-run support
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release-notes.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
Due: actionlint-system, yamlfmt, yamllint

fix: ci actions; workflow manual re-run support (#232)
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release-notes.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.26.2
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: fix the time out numbers
  indykite/provider.go
  indykite/resource_application_space.go
Due: none

fix: fix the time out numbers
  indykite/resource_application_space.go
Due: none

chore(master): release 0.26.3
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: null value in validation offline and online
  indykite/resource_token_introspect.go
Due: none

chore(master): release 0.26.4
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: fix empty validation
  go.mod
  go.sum
  indykite/resource_token_introspect.go
Due: none

chore(master): release 0.26.5
  .release-please-manifest.json
  CHANGELOG.md
Due: none

build: move the GCP workload IDP to a secret
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
Due: actionlint-system, yamlfmt, yamllint

build: move the GCP workload IDP to a secret (#243)
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
Due: actionlint-system, yamlfmt, yamllint
