Repository indykite/terraform-provider-indykite: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

actionlint-system:
  name: github-actionlint
  language: system
  entry: actionlint

yamlfmt:
  name: yamlfmt
  language: system
  entry: yamlfmt

yamllint:
  name: yamllint
  language: system
  entry: yamllint
  args:
  - --strict

markdownlint:
  name: markdownlint
  language: system
  entry: markdownlint-cli2

golangci-lint-validate-config:
  name: golangci-lint/validate-config
  entry: golangci-lint config verify
  language: system
  pass_filenames: false

fix: cleanup on failure
  tests/test_integration.sh
Due: none

ci: docker build refactoring (#336)
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
Due: actionlint-system, yamlfmt, yamllint

feat: update region and ikg size
  docs/data-sources/application_space.md
  docs/resources/application_space.md
  indykite/common_schema.go
  indykite/resource_application_agent.go
  indykite/resource_application_agent_credential.go
Due: markdownlint

chore(master): release 0.39.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

ci: resolve goreleaser deprecation warning
  .goreleaser.yml
Due: yamlfmt, yamllint

chore(master): release 0.40.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

ci: renovate config
  .github/renovate.json5
Due: none

ci: renovate config (#345)
  .github/renovate.json5
Due: none

ci: remove renovate options duplicated by org shared config
  .github/renovate.json5
Due: none

ci: remove renovate options duplicated by org shared config (#349)
  .github/renovate.json5
Due: none

chore(master): release 0.40.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci: use ik-code-reader for pre-commit cache
  .github/workflows/pre-commit-cache.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: use ik-code-writer for release automation
  .github/workflows/release-notes.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: guard version-check when no release pending
  .github/workflows/release-notes.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: remove unnecessary build
  .github/workflows/docker-build-tf-plugin-tests.yaml
Due: actionlint-system, yamlfmt, yamllint

feat: upgrade to 1.27 + dependencies
  .github/workflows/go-lint.yaml
  docker/infra/Dockerfile
  docker/infra/ci/.version
  docker/infra/full/.version
  go.mod
  indykite/data_source_application_agent_test.go
  indykite/data_source_application_space_test.go
  indykite/data_source_application_test.go
  indykite/data_source_customer_test.go
  indykite/data_source_list_test.go
  indykite/resource_application_agent_credential_test.go
  indykite/resource_application_agent_test.go
  indykite/resource_application_space_test.go
  indykite/resource_application_test.go
  indykite/resource_authorization_policy_test.go
  indykite/resource_entity_matching_pipeline_test.go
  indykite/resource_event_sink_test.go
  indykite/resource_external_data_resolver_test.go
  indykite/resource_knowledge_query_test.go
  indykite/resource_mcp_server_test.go
  indykite/resource_service_account_credential_test.go
  indykite/resource_service_account_test.go
  indykite/resource_token_introspect_test.go
  indykite/resource_trust_score_profile_test.go
Due: actionlint-system, yamlfmt, yamllint

feat: add audit-signing resource
  GNUmakefile
  docker/infra/full/.version
  docs/data-sources/audit_signings.md
  docs/resources/audit_signing.md
  examples/data-sources/indykite_audit_signings/data-source.tf
  examples/resources/indykite_audit_signing/resource.tf
  go.mod
  go.sum
  indykite/data_source_audit_signing.go
  indykite/data_source_list_test.go
  indykite/provider.go
  indykite/resource_audit_signing.go
  indykite/resource_audit_signing_test.go
  indykite/rest_models.go
  tests/provider/test.tf
  tests/terraform/terraform_test.go
Due: markdownlint

feat: provider required in audit signing
  docs/resources/audit_signing.md
  examples/resources/indykite_audit_signing/resource.tf
  indykite/resource_audit_signing.go
  indykite/resource_audit_signing_test.go
Due: markdownlint

feat: upgrade lestrrat dep and adapt code
  go.mod
  go.sum
  indykite/export_test.go
  indykite/rest_client.go
  indykite/rest_client_test.go
Due: none

ci: 3rd-party licenses
  .github/CODEOWNERS
  .trivy.yaml
  LICENSES.md
Due: yamlfmt, yamllint, markdownlint

ci: 3rd-party licenses
  .github/workflows/pre-commit-cache.yaml
  .pre-commit-config.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: 3rd-party licenses (#367)
  .github/CODEOWNERS
  .github/workflows/pre-commit-cache.yaml
  .pre-commit-config.yaml
  .trivy.yaml
  LICENSES.md
Due: actionlint-system, yamlfmt, yamllint, markdownlint

feat!: retire IKGRead api permission, add ReadAuthZConfigs
  .release-please-config.json
  LICENSES.md
  docs/data-sources/application_agent.md
  docs/resources/application_agent.md
  examples/resources/indykite_application_agent/resource.tf
  indykite/common_schema.go
  indykite/resource_application_agent_test.go
Due: markdownlint

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(CHANGELOG|.github\/ISSUE_TEMPLATE\/(bug|feature_request)).md$
  golangci-lint-validate-config: any of: \.golangci\.(y?ml|toml|json)$
