Repository indykite/terraform-provider-indykite: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

actionlint-system:
  name: github-actionlint
  language: system
  entry: actionlint

yamlfmt:
  name: yamlfmt
  language: system
  entry: yamlfmt

yamllint:
  name: yamllint
  language: system
  entry: yamllint
  args:
  - --strict

markdownlint:
  name: markdownlint
  language: system
  entry: markdownlint-cli2

golangci-lint-validate-config:
  name: golangci-lint/validate-config
  entry: golangci-lint config verify
  language: system
  pass_filenames: false

feat: add pubsub in event sinks
  docs/resources/event_sink.md
  examples/resources/indykite_event_sink/resource.tf
  go.mod
  go.sum
  indykite/resource_event_sink.go
  indykite/resource_event_sink_test.go
  tests/provider/test.tf
Due: markdownlint

fix: remove pubsub from tests
  tests/provider/test.tf
Due: none

chore(master): release 0.32.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

feat: add pubsub tests
  README.md
  tests/provider/test.tf
Due: markdownlint

fix: fix issue with read agent credentials after create
  go.mod
  go.sum
  indykite/resource_application_agent_credential.go
  indykite/resource_application_agent_credential_test.go
  tests/provider/test.tf
Due: none

chore(master): release 0.33.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

fix: fix issue with read agent credentials after create
  indykite/resource_application_agent_credential.go
  tests/provider/test.tf
Due: none

ci: add image with baked in tests
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .pre-commit-config.yaml
  docker/infra/.version
  docker/infra/Dockerfile
  docker/infra/README.md
  docker/infra/check-version.sh
  docker/infra/pipeline/.version
  docker/infra/pipeline/startscript.sh
  docker/infra/private_cloud/.version
  docker/infra/private_cloud/startscript.sh
  docker/infra/startscript.sh
  tests/provider/test.tf
Due: actionlint-system, yamlfmt, yamllint, markdownlint

chore(master): release 0.33.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: fix issue with read agent credentials after create
  indykite/resource_application_agent_credential.go
  indykite/resource_application_agent_credential_test.go
  indykite/rest_models.go
Due: none

chore(master): release 0.33.2
  .release-please-manifest.json
  CHANGELOG.md
Due: none

feat: add cdc to event sinks
  .github/workflows/go-test.yaml
  docs/resources/event_sink.md
  go.mod
  go.sum
  indykite/resource_event_sink.go
  indykite/resource_event_sink_test.go
  indykite/rest_models.go
Due: actionlint-system, yamlfmt, yamllint, markdownlint

fix: fix openpgp issue for docs
  .github/workflows/tfplugindocs.yaml
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.34.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

feat: add mcp server config
  .golangci.yml
  docker/infra/private_cloud/.version
  docs/resources/mcp_server.md
  examples/resources/indykite_mcp_server/resource.tf
  go.mod
  go.sum
  indykite/provider.go
  indykite/resource_mcp_server.go
  indykite/resource_mcp_server_test.go
  indykite/rest_models.go
  tests/provider/test.tf
Due: yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

fix: authorization policies location issue
  docker/infra/private_cloud/.version
  go.mod
  go.sum
  indykite/rest_models.go
  tests/provider/test.tf
Due: none

chore(master): release 0.35.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

ci: ci fixes and improvements
  .github/workflows/pre-commit-cache.yaml
  .trivy.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: ci fixes and improvements (#302)
  .github/workflows/pre-commit-cache.yaml
  .trivy.yaml
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.35.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(master): release 0.35.1 (#303)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci: pre-commit freeze
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

ci: pre-commit freeze (#304)
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

ci: rename ci docker images
  .github/workflows/docker-build-tf-plugin-tests.yaml
  docker/infra/Dockerfile
  docker/infra/README.md
  docker/infra/check-version.sh
  docker/infra/ci/.version
  docker/infra/ci/startscript.sh
  docker/infra/full/.version
  docker/infra/full/startscript.sh
  docker/infra/pipeline/.version
  docker/infra/private_cloud/.version
Due: actionlint-system, yamlfmt, yamllint, markdownlint

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(CHANGELOG|.github\/ISSUE_TEMPLATE\/(bug|feature_request)).md$
  golangci-lint-validate-config: any of: \.golangci\.(y?ml|toml|json)$
