Repository indykite/terraform-provider-indykite: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(CHANGELOG|.github\/ISSUE_TEMPLATE\/(bug|feature_request)).md$
  golangci-lint-validate-config: any of: \.golangci\.(y?ml|toml|json)$

feat: add last error n events sink
  docs/resources/event_sink.md
  go.mod
  go.sum
  indykite/resource_event_sink.go
  indykite/resource_event_sink_test.go
Due: markdownlint

chore(master): release 0.27.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

feat: add new tests after refactor
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/release-notes.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
  docker/infra/Dockerfile
  docker/local/ForJarvisProtoLocal.Dockerfile
  go.mod
  go.sum
  tests/provider/test.tf
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.28.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

chore: update dependencies
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
  .pre-commit-config.yaml
  docker/infra/Dockerfile
  docker/local/ForJarvisProtoLocal.Dockerfile
  go.mod
  go.sum
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.28.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

refactor: use updated GitHub org secrets
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
Due: actionlint-system, yamlfmt, yamllint

feat: update dep and descriptions
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
  docs/data-sources/application.md
  docs/data-sources/application_agent.md
  docs/data-sources/application_space.md
  docs/data-sources/customer.md
  docs/resources/application.md
  docs/resources/application_agent.md
  docs/resources/application_space.md
  docs/resources/authorization_policy.md
  docs/resources/entity_matching_pipeline.md
  docs/resources/event_sink.md
  docs/resources/external_data_resolver.md
  docs/resources/ingest_pipeline.md
  docs/resources/knowledge_query.md
  docs/resources/service_account.md
  docs/resources/token_introspect.md
  docs/resources/trust_score_profile.md
  go.mod
  go.sum
  indykite/common_schema.go
Due: actionlint-system, yamlfmt, yamllint, markdownlint

chore(master): release 0.29.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

chore: update dependencies
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: actionlint-system, yamlfmt, yamllint

feat: add automation prefix + dependencies
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
  .pre-commit-config.yaml
  docker/infra/Dockerfile
  docker/local/ForJarvisProtoLocal.Dockerfile
  go.mod
  go.sum
  tests/provider/test.tf
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.30.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

feat: update dependencies and fix data source
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release-notes.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
  go.mod
  go.sum
  indykite/rest_client.go
  indykite/rest_models.go
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.31.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

fix: fix read app_space data source by name
  indykite/data_source_application_space.go
  indykite/data_source_application_space_test.go
  tests/provider/test.tf
Due: none

chore(master): release 0.31.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: fix update validations and add tests
  GNUmakefile
  indykite/resource_authorization_policy.go
  indykite/resource_authorization_policy_test.go
  indykite/resource_entity_matching_pipeline.go
  indykite/resource_event_sink.go
  indykite/resource_external_data_resolver.go
  indykite/resource_ingest_pipeline.go
  indykite/resource_knowledge_query.go
  indykite/resource_token_introspect.go
  indykite/resource_trust_score_profile.go
  indykite/rest_models.go
Due: none

chore(master): release 0.31.2
  .release-please-manifest.json
  CHANGELOG.md
Due: none

feat: add pubsub in event sinks
  docs/resources/event_sink.md
  examples/resources/indykite_event_sink/resource.tf
  go.mod
  go.sum
  indykite/resource_event_sink.go
  indykite/resource_event_sink_test.go
  tests/provider/test.tf
Due: markdownlint
