Repository indykite/terraform-provider-indykite: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(CHANGELOG|.github\/ISSUE_TEMPLATE\/(bug|feature_request)).md$
  golangci-lint-validate-config: any of: \.golangci\.(y?ml|toml|json)$

ci: rename ci docker images
  .github/workflows/docker-build-tf-plugin-tests.yaml
  docker/infra/Dockerfile
  docker/infra/README.md
  docker/infra/check-version.sh
  docker/infra/ci/.version
  docker/infra/ci/startscript.sh
  docker/infra/full/.version
  docker/infra/full/startscript.sh
  docker/infra/pipeline/.version
  docker/infra/private_cloud/.version
Due: actionlint-system, yamlfmt, yamllint, markdownlint

feat: update dependencies
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/release-notes.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
  indykite/utilities.go
Due: actionlint-system, yamlfmt, yamllint

fix: update old permission
  docs/data-sources/application_agent.md
  docs/resources/application_agent.md
  go.mod
  go.sum
  indykite/common_schema.go
Due: markdownlint

chore(master): release 0.36.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

feat: update owners, dependencies and add test
  .github/CODEOWNERS
  .github/workflows/go-test.yaml
  docker/infra/full/.version
  go.mod
  go.sum
  indykite/resource_token_introspect_test.go
  indykite/rest_models.go
  tests/provider/test.tf
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.37.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

chore(master): release 0.37.0 (#319)
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

fix: fix tests update
  GNUmakefile
  go.mod
  go.sum
  indykite/resource_event_sink.go
  indykite/resource_event_sink_test.go
  indykite/resource_token_introspect.go
  indykite/rest_models.go
Due: none

fix: fix tests update (#322)
  GNUmakefile
  go.mod
  go.sum
  indykite/resource_event_sink.go
  indykite/resource_event_sink_test.go
  indykite/resource_token_introspect.go
  indykite/rest_models.go
Due: none

chore(master): release 0.37.1
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(master): release 0.37.1 (#320)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci: makefile refactoring; test scripts; minor tweaks
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release-notes.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
  .gitignore
  .goreleaser.yml
  .pre-commit-config.yaml
  GNUmakefile
  README.md
  docker/infra/full/.version
  templates/resources.md.tmpl
  tests/test_integration.sh
  tests/test_unit.sh
Due: actionlint-system, yamlfmt, yamllint, markdownlint

ci: workflow renaming
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: makefile refactoring; test scripts; minor tweaks (#323)
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/pre-commit-cache.yaml
  .github/workflows/release-notes.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
  .gitignore
  .goreleaser.yml
  .pre-commit-config.yaml
  GNUmakefile
  README.md
  docker/infra/full/.version
  templates/resources.md.tmpl
  tests/test_integration.sh
  tests/test_unit.sh
Due: actionlint-system, yamlfmt, yamllint, markdownlint

chore(master): release 0.37.2
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: wait until app agent is available
  indykite/export_test.go
  indykite/resource_application_agent_credential.go
  indykite/resource_application_agent_credential_test.go
  indykite/resource_service_account_credential.go
  indykite/utilities.go
  indykite/utilities_test.go
Due: none

fix: fix docs make install
  .github/workflows/tfplugindocs.yaml
Due: actionlint-system, yamlfmt, yamllint

fix: add wait before app agent cred
  go.mod
  indykite/export_test.go
  indykite/resource_application_agent_credential.go
  indykite/resource_application_agent_credential_test.go
  indykite/rest_client.go
Due: none

chore(master): release 0.37.3
  .release-please-manifest.json
  CHANGELOG.md
Due: none

feat: add more wait until app agent status ready
  indykite/resource_application_agent_credential.go
Due: none

feat: add composite db elements
  docker/infra/full/.version
  docs/data-sources/application_space.md
  docs/resources/application_space.md
  examples/resources/indykite_application_space/resource.tf
  indykite/common_schema.go
  indykite/data_source_application_space_test.go
  indykite/resource_application_space.go
  indykite/resource_application_space_test.go
  indykite/rest_models.go
  tests/provider/test.tf
Due: markdownlint

feat: add more wait before app agent
  .github/workflows/docker-build-tf-plugin-tests.yaml
  indykite/export_test.go
  indykite/resource_application_agent.go
  indykite/resource_application_agent_test.go
Due: actionlint-system, yamlfmt, yamllint

chore(master): release 0.38.0
  .release-please-manifest.json
  CHANGELOG.md
  README.md
Due: markdownlint

feat: update event types list
  .trivyignore.yaml
  docker/infra/Dockerfile
  docker/infra/ci/.version
  docker/infra/full/.version
  docs/resources/event_sink.md
  go.mod
  go.sum
  indykite/resource_event_sink.go
Due: yamlfmt, yamllint, markdownlint

ci: docker build refactoring
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
Due: actionlint-system, yamlfmt, yamllint
