Repository indykite/terraform-provider-indykite: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(CHANGELOG|.github\/ISSUE_TEMPLATE\/(bug|feature_request)).md$
  golangci-lint-validate-config: any of: \.golangci\.(y?ml|toml|json)$

feat: pre-commit SAST checks & fixes
  .github/workflows/_pr-pre-commit.md
Due: markdownlint

feat: pre-commit SAST checks & fixes
  .github/workflows/pre-commit-cache.yaml
Due: actionlint-system, yamlfmt, yamllint

feat: pre-commit SAST checks & fixes
  .actionlint.yaml
  .github/workflows/pre-commit-cache.yaml
  .pre-commit-config.yaml
Due: actionlint-system, yamlfmt, yamllint

fix: docker build; pre-commit cache
  .github/workflows/pre-commit-cache.yaml
  docker/infra/Dockerfile
Due: actionlint-system, yamlfmt, yamllint

fix: docker build
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  docker/infra/Dockerfile
  docker/local/ForJarvisProtoLocal.Dockerfile
Due: actionlint-system, yamlfmt, yamllint

ci: pipeline name unification; set permissions
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/docker-build-tf-tests-local.yaml
  .github/workflows/go-integration.yaml
  .github/workflows/go-lint.yaml
  .github/workflows/go-test.yaml
Due: actionlint-system, yamlfmt, yamllint

fix: docker build for golang:1.24
  docker/infra/Dockerfile
Due: none

feat: pre-commit SAST checks & fixes
  .github/renovate.json5
  .pre-commit-config.yaml
  docker/infra/.version
  docker/infra/Dockerfile
  docker/local/ForJarvisProtoLocal.Dockerfile
Due: yamlfmt, yamllint

feat: add dbconnection
  .gitignore
  docs/data-sources/application.md
  docs/data-sources/application_agent.md
  docs/data-sources/application_agents.md
  docs/data-sources/application_space.md
  docs/data-sources/application_spaces.md
  docs/data-sources/applications.md
  docs/data-sources/customer.md
  docs/resources/application.md
  docs/resources/application_agent.md
  docs/resources/application_agent_credential.md
  docs/resources/application_space.md
  docs/resources/authorization_policy.md
  docs/resources/consent.md
  docs/resources/entity_matching_pipeline.md
  docs/resources/event_sink.md
  docs/resources/external_data_resolver.md
  docs/resources/ingest_pipeline.md
  docs/resources/knowledge_query.md
  docs/resources/token_introspect.md
  docs/resources/trust_score_profile.md
  go.mod
  go.sum
  indykite/common_schema.go
  indykite/data_source_application_space.go
  indykite/data_source_application_space_test.go
  indykite/resource_application_space.go
  indykite/resource_application_space_test.go
  indykite/resource_event_sink_test.go
Due: markdownlint

feat: add dbconnection
  .gitignore
  docs/.markdownlint.yaml
  docs/data-sources/application.md
  docs/data-sources/application_agent.md
  docs/data-sources/application_agents.md
  docs/data-sources/application_space.md
  docs/data-sources/application_spaces.md
  docs/data-sources/applications.md
  docs/data-sources/customer.md
  docs/resources/application.md
  docs/resources/application_agent.md
  docs/resources/application_agent_credential.md
  docs/resources/application_space.md
  docs/resources/authorization_policy.md
  docs/resources/consent.md
  docs/resources/entity_matching_pipeline.md
  docs/resources/event_sink.md
  docs/resources/external_data_resolver.md
  docs/resources/ingest_pipeline.md
  docs/resources/knowledge_query.md
  docs/resources/token_introspect.md
  docs/resources/trust_score_profile.md
  go.mod
  go.sum
  indykite/common_schema.go
  indykite/data_source_application_space.go
  indykite/data_source_application_space_test.go
  indykite/resource_application_space.go
  indykite/resource_application_space_test.go
  indykite/resource_event_sink_test.go
Due: yamlfmt, yamllint, markdownlint

ci: tfplugindocs fix
  .github/workflows/tfplugindocs.yaml
  .gitignore
  .markdownlint.yaml
  .pre-commit-config.yaml
  examples/provider/provider.tf
Due: actionlint-system, yamlfmt, yamllint

ci: tfplugindocs fix
  .github/workflows/tfplugindocs.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: pin deps
  .github/workflows/changelog.yaml
  .github/workflows/release.yml
  .github/workflows/tfplugindocs.yaml
Due: actionlint-system, yamlfmt, yamllint

fix: add make
  docker/infra/Dockerfile
Due: none

ci: tfplugindocs trailing-whitespace
  .github/workflows/tfplugindocs.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: tests order
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/tfplugindocs.yaml
  .pre-commit-config.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: tfplugindocs exec trigger
  .github/workflows/tfplugindocs.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: tfplugindocs trailing-whitespace (#212)
  .github/workflows/docker-build-tf-plugin-tests.yaml
  .github/workflows/tfplugindocs.yaml
  .pre-commit-config.yaml
Due: actionlint-system, yamlfmt, yamllint

ci: docker image tofu/tf symlink
  docker/infra/Dockerfile
  docker/local/ForJarvisProtoLocal.Dockerfile
Due: none

ci: docker image vars defaults
  docker/infra/startscript.sh
Due: none
