Repository indykite/terraform-provider-indykite: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint, golangci-lint-validate-config

actionlint-system:
  name: github-actionlint
  language: system
  entry: actionlint

yamlfmt:
  name: yamlfmt
  language: system
  entry: yamlfmt

yamllint:
  name: yamllint
  language: system
  entry: yamllint
  args:
  - --strict

markdownlint:
  name: markdownlint
  language: system
  entry: markdownlint-cli2

golangci-lint-validate-config:
  name: golangci-lint/validate-config
  entry: golangci-lint config verify
  language: system
  pass_filenames: false

feat!: retire IKGRead api permission, add ReadAuthZConfigs
  .release-please-config.json
  LICENSES.md
  docs/data-sources/application_agent.md
  docs/resources/application_agent.md
  examples/resources/indykite_application_agent/resource.tf
  indykite/common_schema.go
  indykite/resource_application_agent_test.go
Due: markdownlint

ci: route trivy findings to jira
  .trivy.yaml
Due: yamlfmt, yamllint

ci: read RUN_ENV from config environment key
  docker/infra/README.md
  docker/infra/ci/.version
  docker/infra/ci/startscript.sh
  docker/infra/full/.version
  docker/infra/full/startscript.sh
Due: markdownlint

feat: add audit and new permission
  README.md
  docs/data-sources/application_agent.md
  docs/index.md
  docs/resources/application_agent.md
  docs/resources/authorization_policy.md
  docs/resources/knowledge_query.md
  examples/resources/indykite_application_agent/resource.tf
  examples/resources/indykite_authorization_policy/resource.tf
  examples/resources/indykite_knowledge_query/resource.tf
  indykite/common_schema.go
  indykite/resource_application_agent_test.go
  indykite/resource_authorization_policy.go
  indykite/resource_knowledge_query.go
  templates/index.md.tmpl
Due: markdownlint

feat: add audit and new permission
  docs/resources/application_agent.md
  examples/resources/indykite_application_agent/resource.tf
Due: markdownlint

ci: route trivy findings to jira (#374)
  .trivy.yaml
Due: yamlfmt, yamllint

feat: replace location with project_id and deprecate
  .pre-commit-config.yaml
  docker/infra/full/.version
  docs/resources/application_space.md
  go.mod
  go.sum
  indykite/common_schema.go
  indykite/data_source_application.go
  indykite/data_source_application_agent.go
  indykite/data_source_application_agent_test.go
  indykite/data_source_application_test.go
  indykite/export_test.go
  indykite/import_utils.go
  indykite/import_utils_test.go
  indykite/resource_application_agent.go
  indykite/resource_application_agent_test.go
  tests/provider/test.tf
  tests/terraform/terraform_test.go
Due: yamlfmt, yamllint, markdownlint

ci: correct trivy codeowners glob
  .github/CODEOWNERS
Due: none

ci: correct trivy codeowners glob (#382)
  .github/CODEOWNERS
Due: none

feat: replace location by project_id and deprecate + tests
  docker/infra/full/.version
  docs/data-sources/audit_signings.md
  docs/resources/audit_signing.md
  docs/resources/authorization_policy.md
  docs/resources/entity_matching_pipeline.md
  docs/resources/event_sink.md
  docs/resources/external_data_resolver.md
  docs/resources/knowledge_query.md
  docs/resources/mcp_server.md
  docs/resources/token_introspect.md
  docs/resources/trust_score_profile.md
  examples/data-sources/indykite_audit_signings/data-source.tf
  examples/resources/indykite_audit_signing/resource.tf
  examples/resources/indykite_authorization_policy/resource.tf
  examples/resources/indykite_entity_matching_pipeline/resource.tf
  examples/resources/indykite_event_sink/resource.tf
  examples/resources/indykite_external_data_resolver/resource.tf
  examples/resources/indykite_knowledge_query/resource.tf
  examples/resources/indykite_mcp_server/resource.tf
  examples/resources/indykite_token_introspect/resource.tf
  examples/resources/indykite_trust_score_profile/resource.tf
  go.mod
  go.sum
  indykite/common_schema.go
  indykite/import_utils.go
  indykite/resource_audit_signing.go
  indykite/resource_authorization_policy.go
  indykite/resource_authorization_policy_test.go
  indykite/resource_entity_matching_pipeline.go
  indykite/resource_event_sink.go
  indykite/resource_external_data_resolver.go
  indykite/resource_knowledge_query.go
  indykite/resource_knowledge_query_test.go
  indykite/resource_mcp_server.go
  indykite/resource_project_id_test.go
  indykite/resource_token_introspect.go
  indykite/resource_trust_score_profile.go
  tests/provider/test.tf
  tests/terraform/terraform_test.go
Due: markdownlint

test: add tests for project_id and audit
  docker/infra/full/.version
  docs/resources/audit_signing.md
  examples/resources/indykite_audit_signing/resource.tf
  go.mod
  go.sum
  indykite/data_source_audit_signing.go
  indykite/resource_audit_signing.go
  indykite/resource_audit_signing_test.go
  tests/provider/test.tf
  tests/terraform/terraform_test.go
Due: markdownlint

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^(CHANGELOG|.github\/ISSUE_TEMPLATE\/(bug|feature_request)).md$
  golangci-lint-validate-config: any of: \.golangci\.(y?ml|toml|json)$
